<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="programName" value=""/>
		<add key="splashBackground" value=""/>
		<add key="documentationLink" value=""/>
		<add key="updateLink" value=""/>
		<add key="contactLink" value=""/>
		<add key="demoMode" value="false"/>
	</appSettings>
</configuration>